---
import Countdown from "@/sections/Countdown.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import Layout from "@/layouts/Layout.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
---

<Layout title="Camping  ITSZ.">
  <main>
    <Hero />
    <div class="max-w-6xl px-10 mx-auto">
      <PrincipalDate />
      <Info />
      <Countdown />
      <Footer />
    </div>
  </main>
</Layout>
