---
import FacebookIcon from "@/icons/Facebook.astro";
import XIcon from "@/icons/X.astro";
import InstagramIcon from "@/icons/Instagram.astro";
import YoutubeIcon from "@/icons/Youtube.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
---

<footer
  class="text-lg mt-20 max-w-6xl px-10 mx-auto border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-6 pb-20 gap-y-10"
>
  <span class="text-secondaryClaro dark:text-white text-center text-pretty">
    &#169; 2024 Camping TECNM <span aria-hidden class="hidden md:inline">|</span
    ><br aria-hidden class="block md:hidden" /> Pagina realizada por <a
      href="https://jesus-puertosdev.netlify.app/"
      target="_blank"
      rel="noopener"
      class="hover:underline text-primary">Jesús Alberto Rodriguez Puertos</a
    >.</span
  >

  <nav class="flex flex-row gap-4 mt-2">
    <a
      href="https://www.facebook.com/TecNMZongolica"
      target="_blank"
      rel="noopener"
      class="text-secondaryClaro dark:text-secondary hover:text-primaryClaro dark:hover:text-primary hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <FacebookIcon class="size-7" alt="Logo de Facebook" />
      <span class="hidden">Facebook</span>
    </a>

    <a
      href="https://x.com/SomosITSZ?s=20"
      target="_blank"
      rel="noopener"
      class="text-secondaryClaro dark:text-secondary hover:text-primaryClaro dark:hover:text-primary hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <XIcon class="size-7" alt="Logo de X" />
      <span class="hidden">Twitter o X</span>
    </a>

    <a
      href="https://www.instagram.com/tecnmcampuszongolica/
        "
      target="_blank"
      rel="noopener"
      class="text-secondaryClaro dark:text-secondary hover:text-primaryClaro dark:hover:text-primary hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <InstagramIcon class="size-7" alt="Logo de Instagram" />
      <span class="hidden">Instagram</span>
    </a>

    <a
      href="https://www.youtube.com/@tecnmzongolica7292"
      target="_blank"
      rel="noopener"
      class="text-secondaryClaro dark:text-secondary hover:text-primaryClaro dark:hover:text-primary hover:scale-125 hover:opacity-70 transition inline-block"
    >
      <YoutubeIcon class="size-7" title="" />
      <span class="hidden">Youtube</span>
    </a>

    <ThemeToggle />
  </nav>
</footer>
