<section
  class="flex flex-col justify-center items-center h-screen"
  style="background-image: url(/public/hero.webp);"
>
  <span
    class="animate-fade-in animate-delay-300 text-xl uppercase text-secondary bg-primary px-6 py-1 mb-9 mt-2 font-medium rounded"
    >Camping</span
  >
  <h1
    class="text-white uppercase text-6xl text-center font-normal animate-fade-in-up"
  >
    TECNM Campus Zongolica
  </h1>
  <div
    class="absolute bottom-0 w-full h-48 bg-gradient-to-b from-transparent via-[#000b30] to-[#000b30] pointer-events-none"
  >
  </div>
</section>
