---

---

<section class="flex font-medium text-secondary gap-y-10 my-32 flex-col">
  <div class="grid grid-cols-1 md:grid-cols-3 uppercase text-center gap-x-4">
    <article
      class="order-2 md:order-1 flex justify-center items-center py-10 md:-28 px-16 border-y-2 border-primary"
    >
      <h5 class="w-56 text-center text-xl">
        Conferencias, talleres, torneos de programación, presentaciones de
        proyectos, y mucho mas.
      </h5>
    </article>
    <article
      class="order-1 md:order-2 flex justify-center items-center py-10 md:py-28 px-16 border-y-2 border-primary"
    >
      <h4 class="text-4xl font-bold">No te lo puedes perder</h4>
    </article>
    <article
      class="order-3 md:order-3 flex justify-center items-center py-10 md:py-28 px-16 md:border-y-2 border-b-2 md:border-b-hidden border-primary"
    >
      <h5 class="w-56 text-center text-xl">
        Ven y disfruta de este evento realizado para la carrera de Ing. en
        Sistemas computacionales.
      </h5>
    </article>
  </div>
</section>
