---
import CalendarButton from "@/components/CalendarButton.astro";
import MapIcon from "@/icons/Map.astro";
---

<section
  class="animate-fade-in animate-delay-300 mt-4 mx-auto flex flex-col justify-center items-center text-center"
>
  <div class="size-44 mb-12">
    <img src="/Lgcamptii.webp" alt="Logo" class="w-[100%] mb-6" />
  </div>
  <h2
    class="uppercase text-secondaryClaro dark:text-secondary text-5xl font-semibold"
  >
    26 de abril <span aria-hidden class="hidden md:inline mx-1">|</span><br
      aria-hidden
      class="block md:hidden"
    />
    <span>17:00 HRS</span>
  </h2>
  <h3
    class="uppercase text-xl text-primaryClaro dark:text-primary font-medium flex flex-col max-w-sm mt-6"
  >
    <span>Lugar de evento</span>
    <a
      href="https://maps.app.goo.gl/ZLTKaC311YEF2sKy6"
      rel="noopener"
      target="_blank"
      class="text-secondaryClaro dark:text-white hover:text-gray-700 dark:hover:text-gray-300 hover:scale-105 transition"
      ><span class="text-pretty
      flex justify-center items-center"
        ><MapIcon class="size-8" />Unidad Académica de Tequila</span
      >
    </a>
  </h3>
  <CalendarButton />
</section>
