---
interface Props {
  title: string;
}

const { title } = Astro.props;
// Supports weights 100-900
import "@fontsource-variable/jost";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <div class="bg-[#ddd] dark:bg-[#000b30]">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Jost Variable", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  p {
    margin-bottom: 1.6rem;
  }
</style>
